.clock{

    background:url(/../../../ressources/img/cadransw.png);
    background-size: cover;
    background-repeat: no-repeat;  
    height: 90%;
    margin: auto;
    margin-right:10px;
    margin-top:10px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock::before
{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #020202;
    border-radius: 50%;
    z-index: 20;
}
.hour, .min, .sec
{
    position: absolute;
}
.hour, .hr
{
    width: 110px;
    height: 110px;
}
.clock .min, .mn
{
    width: 142px;
    height: 142px;
}
.clock .sec, .sc
{
    width: 180px;
    height: 180px;
}
.hr, .mn, .sc
{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}
.hr::before
{
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background-color:rgb(184, 5, 5) ;
    z-index: 8;
    border-radius: 6px 6px 0 0;
}
.mn::before
{
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background-color: rgb(0, 68, 255);
    z-index: 9;
    border-radius: 6px 6px 0 0;
}
.sc::before
{
    content: "";
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: green;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}